.conversion-selects {
  display: flex;
  justify-content: space-around;
}

.get-or-send {
  font-size: 16px;
  font-weight: 900;
  color: rgb(61, 121, 61);
}

.direction-text {
  padding-right: 5px;
}